//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 19 09:26:43 2022
//! **************************************************************************

SCHEMATIC START;
COMP "e2_cs" LOCATE = SITE "P40" LEVEL 1;
COMP "fifo_rset" LOCATE = SITE "P16" LEVEL 1;
COMP "eeprom_cs" LOCATE = SITE "P37" LEVEL 1;
COMP "fifo_cs" LOCATE = SITE "P20" LEVEL 1;
COMP "fpga_cs" LOCATE = SITE "P9" LEVEL 1;
COMP "spi_clk" LOCATE = SITE "P10" LEVEL 1;
COMP "adt7301_clk" LOCATE = SITE "P33" LEVEL 1;
COMP "trigger" LOCATE = SITE "P6" LEVEL 1;
COMP "cont_strobe" LOCATE = SITE "P5" LEVEL 1;
COMP "sys_clk" LOCATE = SITE "P43" LEVEL 1;
PIN sys_clk_pin<0> = BEL "sys_clk" PINNAME PAD;
PIN "sys_clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "pixel_ready" LOCATE = SITE "P15" LEVEL 1;
COMP "single_strobe" LOCATE = SITE "P4" LEVEL 1;
COMP "eeprom_clk" LOCATE = SITE "P36" LEVEL 1;
COMP "ilx511b_shsw" LOCATE = SITE "P30" LEVEL 1;
COMP "adt_cs" LOCATE = SITE "P35" LEVEL 1;
COMP "ad7621_di<10>" LOCATE = SITE "P57" LEVEL 1;
COMP "ad7621_di<11>" LOCATE = SITE "P56" LEVEL 1;
COMP "ad7621_di<12>" LOCATE = SITE "P52" LEVEL 1;
COMP "ad7621_di<13>" LOCATE = SITE "P50" LEVEL 1;
COMP "ad7621_di<14>" LOCATE = SITE "P49" LEVEL 1;
COMP "ad7621_di<15>" LOCATE = SITE "P46" LEVEL 1;
COMP "adt7301_cs" LOCATE = SITE "P34" LEVEL 1;
COMP "xreset" LOCATE = SITE "P19" LEVEL 1;
PIN xreset_pin<0> = BEL "xreset" PINNAME PAD;
PIN "xreset_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "ad7621_convst" LOCATE = SITE "P78" LEVEL 1;
COMP "ilx511b_clk" LOCATE = SITE "P32" LEVEL 1;
COMP "ilx511b_rog" LOCATE = SITE "P31" LEVEL 1;
COMP "ad7621_di<0>" LOCATE = SITE "P73" LEVEL 1;
COMP "ad7621_di<1>" LOCATE = SITE "P72" LEVEL 1;
COMP "ad7621_di<2>" LOCATE = SITE "P71" LEVEL 1;
COMP "ad7621_di<3>" LOCATE = SITE "P70" LEVEL 1;
COMP "ad7621_di<4>" LOCATE = SITE "P65" LEVEL 1;
COMP "ad7621_di<5>" LOCATE = SITE "P64" LEVEL 1;
COMP "ad7621_di<6>" LOCATE = SITE "P62" LEVEL 1;
COMP "ad7621_di<7>" LOCATE = SITE "P61" LEVEL 1;
COMP "ad7621_di<8>" LOCATE = SITE "P60" LEVEL 1;
COMP "ad7621_di<9>" LOCATE = SITE "P59" LEVEL 1;
COMP "spi_miso" LOCATE = SITE "P13" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P12" LEVEL 1;
COMP "ad7621_busy" LOCATE = SITE "P83" LEVEL 1;
PIN clk_wizard_instance/DCM_SP_INST_pin<10> = BEL
        "clk_wizard_instance/DCM_SP_INST" PINNAME CLKIN;
PIN "clk_wizard_instance/DCM_SP_INST_pin<10>" CLOCK_DEDICATED_ROUTE = FALSE;
PIN
        fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp9x9.ram_pins<22>
        = BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp9x9.ram"
        PINNAME CLKA;
PIN
        fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp9x9.ram_pins<23>
        = BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp9x9.ram"
        PINNAME CLKB;
PIN
        fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_noinit.ram/dpram.dp9x9.ram_pins<22>
        = BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_noinit.ram/dpram.dp9x9.ram"
        PINNAME CLKA;
PIN
        fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_noinit.ram/dpram.dp9x9.ram_pins<23>
        = BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_noinit.ram/dpram.dp9x9.ram"
        PINNAME CLKB;
TIMEGRP clk_wizard_instance_CLK2X_BUF = BEL "pixel_ready" BEL
        "rise_edge_acqui_src_instant/d_i_ff3" BEL
        "rise_edge_acqui_src_instant/d_i_ff2" BEL
        "make_pulse_instance/cnt_make_2_5Mhz_5" BEL
        "make_pulse_instance/cnt_make_2_5Mhz_4" BEL
        "make_pulse_instance/cnt_make_2_5Mhz_3" BEL
        "make_pulse_instance/cnt_make_2_5Mhz_2" BEL
        "make_pulse_instance/cnt_make_2_5Mhz_1" BEL
        "make_pulse_instance/cnt_make_2_5Mhz_0" BEL
        "make_pulse_instance/clk_2_5Mhz" BEL "ilx_instance/cnt_intclk_15" BEL
        "ilx_instance/cnt_intclk_14" BEL "ilx_instance/cnt_intclk_13" BEL
        "ilx_instance/cnt_intclk_12" BEL "ilx_instance/cnt_intclk_11" BEL
        "ilx_instance/cnt_intclk_10" BEL "ilx_instance/cnt_intclk_9" BEL
        "ilx_instance/cnt_intclk_8" BEL "ilx_instance/cnt_intclk_7" BEL
        "ilx_instance/cnt_intclk_6" BEL "ilx_instance/cnt_intclk_5" BEL
        "ilx_instance/cnt_intclk_4" BEL "ilx_instance/cnt_intclk_3" BEL
        "ilx_instance/cnt_intclk_2" BEL "ilx_instance/cnt_intclk_1" BEL
        "ilx_instance/cnt_intclk_0" BEL "ilx_instance/cnt_make_smp_clk_15" BEL
        "ilx_instance/cnt_make_smp_clk_14" BEL
        "ilx_instance/cnt_make_smp_clk_13" BEL
        "ilx_instance/cnt_make_smp_clk_12" BEL
        "ilx_instance/cnt_make_smp_clk_11" BEL
        "ilx_instance/cnt_make_smp_clk_10" BEL
        "ilx_instance/cnt_make_smp_clk_9" BEL
        "ilx_instance/cnt_make_smp_clk_8" BEL
        "ilx_instance/cnt_make_smp_clk_7" BEL
        "ilx_instance/cnt_make_smp_clk_6" BEL
        "ilx_instance/cnt_make_smp_clk_5" BEL
        "ilx_instance/cnt_make_smp_clk_4" BEL
        "ilx_instance/cnt_make_smp_clk_3" BEL
        "ilx_instance/cnt_make_smp_clk_2" BEL
        "ilx_instance/cnt_make_smp_clk_1" BEL
        "ilx_instance/cnt_make_smp_clk_0" BEL "ilx_instance/cnt_smp_15" BEL
        "ilx_instance/cnt_smp_14" BEL "ilx_instance/cnt_smp_13" BEL
        "ilx_instance/cnt_smp_12" BEL "ilx_instance/cnt_smp_11" BEL
        "ilx_instance/cnt_smp_10" BEL "ilx_instance/cnt_smp_9" BEL
        "ilx_instance/cnt_smp_8" BEL "ilx_instance/cnt_smp_7" BEL
        "ilx_instance/cnt_smp_6" BEL "ilx_instance/cnt_smp_5" BEL
        "ilx_instance/cnt_smp_4" BEL "ilx_instance/cnt_smp_3" BEL
        "ilx_instance/cnt_smp_2" BEL "ilx_instance/cnt_smp_1" BEL
        "ilx_instance/cnt_smp_0" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_15" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_14" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_13" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_12" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_11" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_10" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_9" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_8" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_7" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_6" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_5" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_4" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_3" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_2" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_1" BEL
        "ilx_instance/cnt_clk_delay_after_rise_rog_0" BEL
        "ilx_instance/cnt_rog_low_15" BEL "ilx_instance/cnt_rog_low_14" BEL
        "ilx_instance/cnt_rog_low_13" BEL "ilx_instance/cnt_rog_low_12" BEL
        "ilx_instance/cnt_rog_low_11" BEL "ilx_instance/cnt_rog_low_10" BEL
        "ilx_instance/cnt_rog_low_9" BEL "ilx_instance/cnt_rog_low_8" BEL
        "ilx_instance/cnt_rog_low_7" BEL "ilx_instance/cnt_rog_low_6" BEL
        "ilx_instance/cnt_rog_low_5" BEL "ilx_instance/cnt_rog_low_4" BEL
        "ilx_instance/cnt_rog_low_3" BEL "ilx_instance/cnt_rog_low_2" BEL
        "ilx_instance/cnt_rog_low_1" BEL "ilx_instance/cnt_rog_low_0" BEL
        "ilx_instance/cnt_1khz_15" BEL "ilx_instance/cnt_1khz_14" BEL
        "ilx_instance/cnt_1khz_13" BEL "ilx_instance/cnt_1khz_12" BEL
        "ilx_instance/cnt_1khz_11" BEL "ilx_instance/cnt_1khz_10" BEL
        "ilx_instance/cnt_1khz_9" BEL "ilx_instance/cnt_1khz_8" BEL
        "ilx_instance/cnt_1khz_7" BEL "ilx_instance/cnt_1khz_6" BEL
        "ilx_instance/cnt_1khz_5" BEL "ilx_instance/cnt_1khz_4" BEL
        "ilx_instance/cnt_1khz_3" BEL "ilx_instance/cnt_1khz_2" BEL
        "ilx_instance/cnt_1khz_1" BEL "ilx_instance/cnt_1khz_0" BEL
        "ilx_instance/cnt_delay_rog_to_low_7" BEL
        "ilx_instance/cnt_delay_rog_to_low_6" BEL
        "ilx_instance/cnt_delay_rog_to_low_5" BEL
        "ilx_instance/cnt_delay_rog_to_low_4" BEL
        "ilx_instance/cnt_delay_rog_to_low_3" BEL
        "ilx_instance/cnt_delay_rog_to_low_2" BEL
        "ilx_instance/cnt_delay_rog_to_low_1" BEL
        "ilx_instance/cnt_delay_rog_to_low_0" BEL
        "ilx_instance/adc_start_instant/d_i_ff2" BEL
        "ilx_instance/adc_start_instant/d_i_ff3" BEL
        "ilx_instance/en_delay_clk" BEL "ilx_instance/flag_start_rog_low2" BEL
        "ilx_instance/flag_start_rog_low1" BEL
        "ilx_instance/en_rog_from_end_rog_low1" BEL
        "ilx_instance/en_delay_rog_to_low" BEL "ilx_instance/en_intclk" BEL
        "ilx_instance/flag_sel_clok" BEL "ilx_instance/flag_smp_data" BEL
        "ilx_instance/flag_en_smp_data" BEL "ilx_instance/ilx511b_clk" BEL
        "ilx_instance/ilx511b_rog" BEL "ilx_instance/flag_end_rog_low2" BEL
        "ilx_instance/flag_end_rog_low1" BEL
        "ilx_instance/flag_start_clok_from_end_rog_low1" BEL
        "ilx_instance/flag_start_ctr_rog" BEL "ilx_instance/integ_done" BEL
        "ad7621_instance/cnt_rd_pixel_15" BEL
        "ad7621_instance/cnt_rd_pixel_14" BEL
        "ad7621_instance/cnt_rd_pixel_13" BEL
        "ad7621_instance/cnt_rd_pixel_12" BEL
        "ad7621_instance/cnt_rd_pixel_11" BEL
        "ad7621_instance/cnt_rd_pixel_10" BEL "ad7621_instance/cnt_rd_pixel_9"
        BEL "ad7621_instance/cnt_rd_pixel_8" BEL
        "ad7621_instance/cnt_rd_pixel_7" BEL "ad7621_instance/cnt_rd_pixel_6"
        BEL "ad7621_instance/cnt_rd_pixel_5" BEL
        "ad7621_instance/cnt_rd_pixel_4" BEL "ad7621_instance/cnt_rd_pixel_3"
        BEL "ad7621_instance/cnt_rd_pixel_2" BEL
        "ad7621_instance/cnt_rd_pixel_1" BEL "ad7621_instance/cnt_rd_pixel_0"
        BEL "ad7621_instance/div_instance/i_8" BEL
        "ad7621_instance/div_instance/i_7" BEL
        "ad7621_instance/div_instance/i_6" BEL
        "ad7621_instance/div_instance/i_5" BEL
        "ad7621_instance/div_instance/i_4" BEL
        "ad7621_instance/div_instance/i_3" BEL
        "ad7621_instance/div_instance/i_2" BEL
        "ad7621_instance/div_instance/i_1" BEL
        "ad7621_instance/div_instance/i_0" BEL
        "ad7621_instance/div_instance/Mmult_q_mult0000" BEL
        "ad7621_instance/falling_edge_fifo_instant/d_i_ff3" BEL
        "ad7621_instance/div_instance/valid_ff" BEL
        "ad7621_instance/div_instance/valid" BEL
        "ad7621_instance/div_instance/busy" BEL
        "ad7621_instance/div_instance/y1_9" BEL
        "ad7621_instance/div_instance/y1_8" BEL
        "ad7621_instance/div_instance/y1_7" BEL
        "ad7621_instance/div_instance/y1_6" BEL
        "ad7621_instance/div_instance/y1_5" BEL
        "ad7621_instance/div_instance/y1_4" BEL
        "ad7621_instance/div_instance/y1_3" BEL
        "ad7621_instance/div_instance/y1_2" BEL
        "ad7621_instance/div_instance/y1_1" BEL
        "ad7621_instance/div_instance/y1_0" BEL
        "ad7621_instance/div_instance/ac_10" BEL
        "ad7621_instance/div_instance/ac_9" BEL
        "ad7621_instance/div_instance/ac_8" BEL
        "ad7621_instance/div_instance/ac_7" BEL
        "ad7621_instance/div_instance/ac_6" BEL
        "ad7621_instance/div_instance/ac_5" BEL
        "ad7621_instance/div_instance/ac_4" BEL
        "ad7621_instance/div_instance/ac_3" BEL
        "ad7621_instance/div_instance/ac_2" BEL
        "ad7621_instance/div_instance/ac_1" BEL
        "ad7621_instance/div_instance/ac_0" BEL
        "ad7621_instance/div_instance/q_25" BEL
        "ad7621_instance/div_instance/q_24" BEL
        "ad7621_instance/div_instance/q_23" BEL
        "ad7621_instance/div_instance/q_22" BEL
        "ad7621_instance/div_instance/q_21" BEL
        "ad7621_instance/div_instance/q_20" BEL
        "ad7621_instance/div_instance/q_19" BEL
        "ad7621_instance/div_instance/q_18" BEL
        "ad7621_instance/div_instance/q_17" BEL
        "ad7621_instance/div_instance/q_16" BEL
        "ad7621_instance/div_instance/q_15" BEL
        "ad7621_instance/div_instance/q_14" BEL
        "ad7621_instance/div_instance/q_13" BEL
        "ad7621_instance/div_instance/q_12" BEL
        "ad7621_instance/div_instance/q_11" BEL
        "ad7621_instance/div_instance/q_10" BEL
        "ad7621_instance/div_instance/q_9" BEL
        "ad7621_instance/div_instance/q_8" BEL
        "ad7621_instance/div_instance/q_7" BEL
        "ad7621_instance/div_instance/q_6" BEL
        "ad7621_instance/div_instance/q_5" BEL
        "ad7621_instance/div_instance/q_4" BEL
        "ad7621_instance/div_instance/q1_9" BEL
        "ad7621_instance/div_instance/q1_8" BEL
        "ad7621_instance/div_instance/q1_7" BEL
        "ad7621_instance/div_instance/q1_6" BEL
        "ad7621_instance/div_instance/q1_5" BEL
        "ad7621_instance/div_instance/q1_4" BEL
        "ad7621_instance/div_instance/q1_3" BEL
        "ad7621_instance/div_instance/q1_2" BEL
        "ad7621_instance/div_instance/q1_1" BEL
        "ad7621_instance/div_instance/q1_0" BEL
        "ad7621_instance/ad7621_convst" BEL "ad7621_instance/r_dat_valid_temp"
        BEL "fifo_spi_instance/fall_edge_fifo_instant/d_i_ff3" BEL
        "fifo_spi_instance/rise_edge_fifo_clk_instant/d_i_ff3" BEL
        "fifo_spi_instance/flag_fifo_data_ff" BEL
        "fifo_spi_instance/data_tranfer_15" BEL
        "fifo_spi_instance/data_tranfer_14" BEL
        "fifo_spi_instance/data_tranfer_13" BEL
        "fifo_spi_instance/data_tranfer_12" BEL
        "fifo_spi_instance/data_tranfer_11" BEL
        "fifo_spi_instance/data_tranfer_10" BEL
        "fifo_spi_instance/data_tranfer_9" BEL
        "fifo_spi_instance/data_tranfer_8" BEL
        "fifo_spi_instance/data_tranfer_7" BEL
        "fifo_spi_instance/data_tranfer_6" BEL
        "fifo_spi_instance/data_tranfer_5" BEL
        "fifo_spi_instance/data_tranfer_4" BEL
        "fifo_spi_instance/data_tranfer_3" BEL
        "fifo_spi_instance/data_tranfer_2" BEL
        "fifo_spi_instance/data_tranfer_1" BEL
        "fifo_spi_instance/data_tranfer_0" BEL
        "rise_edge_acqui_src_instant/d_i_ff1" BEL
        "ilx_instance/adc_start_instant/d_i_ff1" BEL
        "ad7621_instance/falling_edge_fifo_instant/Mshreg_d_i_ff2/SRL16E" BEL
        "ad7621_instance/falling_edge_fifo_instant/d_i_ff2" BEL
        "fifo_spi_instance/rise_edge_fifo_clk_instant/Mshreg_d_i_ff2/SRL16E"
        BEL "fifo_spi_instance/rise_edge_fifo_clk_instant/d_i_ff2" BEL
        "ad7621_instance/Mshreg_ad7621_start_ff2/SRL16E" BEL
        "ad7621_instance/ad7621_start_ff2" BEL
        "fifo_spi_instance/fall_edge_fifo_instant/Mshreg_d_i_ff2/SRL16E" BEL
        "fifo_spi_instance/fall_edge_fifo_instant/d_i_ff2" BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.gdc.dc/dc/count_0"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.gdc.dc/dc/count_1"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.gdc.dc/dc/count_2"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.gdc.dc/dc/count_3"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.gdc.dc/dc/count_4"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.gdc.dc/dc/count_5"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.gdc.dc/dc/count_6"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.gdc.dc/dc/count_7"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.gdc.dc/dc/count_8"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.gdc.dc/dc/count_9"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.gdc.dc/dc/count_10"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.rsts/ram_empty_i"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/grss.rsts/ram_empty_fb_i"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.wsts/ram_full_fb_i"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwss.wsts/ram_full_i"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/RST_FULL_GEN"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rst_d3"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg_d2"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_asreg_d2"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rst_d2"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg_d1"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_asreg"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_asreg_d1"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_asreg"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rst_d1"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_reg_2"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/rd_rst_reg_0"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/rstblk/wr_rst_reg_1"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_9"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_8"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_10"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_6"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_5"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_7"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_3"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_2"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_4"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_0"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_1"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_d1_10"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_d1_9"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_d1_8"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_d1_7"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_d1_6"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_d1_5"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_d1_4"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_d1_3"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_d1_2"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_d1_1"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/count_d1_0"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_9"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_8"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_10"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_6"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_5"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_7"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_3"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_2"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_4"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_0"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_1"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_d1_10"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_d1_9"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_d1_8"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_d1_7"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_d1_6"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_d1_5"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_d1_4"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_d1_3"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_d1_2"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_d1_1"
        BEL
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/count_d1_0"
        BEL "clk_wizard_instance/CLK2X_BUFG_INST.GCLKMUX" BEL
        "clk_wizard_instance/CLK2X_BUFG_INST" PIN
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp9x9.ram_pins<22>"
        PIN
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp9x9.ram_pins<23>"
        PIN
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp9x9.ram_pins<22>"
        PIN
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp9x9.ram_pins<23>"
        PIN
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_noinit.ram/dpram.dp9x9.ram_pins<22>"
        PIN
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_noinit.ram/dpram.dp9x9.ram_pins<23>"
        PIN
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_noinit.ram/dpram.dp9x9.ram_pins<22>"
        PIN
        "fifo_ccd_instance/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gbm.gbmg.gbmga.ngecc.bmg/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s3_noinit.ram/dpram.dp9x9.ram_pins<23>";
PIN
        U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[0].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i_pins<24>
        = BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[0].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i"
        PINNAME CLKB;
TIMEGRP D_CLK = BEL "mk_strobe_instance/cnt_mk_strobe_15" BEL
        "mk_strobe_instance/cnt_mk_strobe_14" BEL
        "mk_strobe_instance/cnt_mk_strobe_13" BEL
        "mk_strobe_instance/cnt_mk_strobe_12" BEL
        "mk_strobe_instance/cnt_mk_strobe_11" BEL
        "mk_strobe_instance/cnt_mk_strobe_10" BEL
        "mk_strobe_instance/cnt_mk_strobe_9" BEL
        "mk_strobe_instance/cnt_mk_strobe_8" BEL
        "mk_strobe_instance/cnt_mk_strobe_7" BEL
        "mk_strobe_instance/cnt_mk_strobe_6" BEL
        "mk_strobe_instance/cnt_mk_strobe_5" BEL
        "mk_strobe_instance/cnt_mk_strobe_4" BEL
        "mk_strobe_instance/cnt_mk_strobe_3" BEL
        "mk_strobe_instance/cnt_mk_strobe_2" BEL
        "mk_strobe_instance/cnt_mk_strobe_1" BEL
        "mk_strobe_instance/cnt_mk_strobe_0" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_27" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_26" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_25" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_24" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_23" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_22" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_21" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_20" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_19" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_18" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_17" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_16" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_15" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_14" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_13" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_12" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_11" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_10" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_9" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_8" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_7" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_6" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_5" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_4" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_3" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_2" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_1" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_0" BEL
        "mk_strobe_instance/cnt_mk_2MHz_5" BEL
        "mk_strobe_instance/cnt_mk_2MHz_4" BEL
        "mk_strobe_instance/cnt_mk_2MHz_3" BEL
        "mk_strobe_instance/cnt_mk_2MHz_2" BEL
        "mk_strobe_instance/cnt_mk_2MHz_1" BEL
        "mk_strobe_instance/cnt_mk_2MHz_0" BEL
        "mk_strobe_instance/cont_strobe" BEL
        "mk_strobe_instance/flag_end_single_strobe" BEL
        "mk_strobe_instance/single_strobe" BEL
        "mk_strobe_instance/prev_strbcount_15" BEL
        "mk_strobe_instance/prev_strbcount_14" BEL
        "mk_strobe_instance/prev_strbcount_13" BEL
        "mk_strobe_instance/prev_strbcount_12" BEL
        "mk_strobe_instance/prev_strbcount_11" BEL
        "mk_strobe_instance/prev_strbcount_10" BEL
        "mk_strobe_instance/prev_strbcount_9" BEL
        "mk_strobe_instance/prev_strbcount_8" BEL
        "mk_strobe_instance/prev_strbcount_7" BEL
        "mk_strobe_instance/prev_strbcount_6" BEL
        "mk_strobe_instance/prev_strbcount_5" BEL
        "mk_strobe_instance/prev_strbcount_4" BEL
        "mk_strobe_instance/prev_strbcount_3" BEL
        "mk_strobe_instance/prev_strbcount_2" BEL
        "mk_strobe_instance/prev_strbcount_1" BEL
        "mk_strobe_instance/prev_strbcount_0" BEL
        "mk_strobe_instance/prev_countbase_15" BEL
        "mk_strobe_instance/prev_countbase_14" BEL
        "mk_strobe_instance/prev_countbase_13" BEL
        "mk_strobe_instance/prev_countbase_12" BEL
        "mk_strobe_instance/prev_countbase_11" BEL
        "mk_strobe_instance/prev_countbase_10" BEL
        "mk_strobe_instance/prev_countbase_9" BEL
        "mk_strobe_instance/prev_countbase_8" BEL
        "mk_strobe_instance/prev_countbase_7" BEL
        "mk_strobe_instance/prev_countbase_6" BEL
        "mk_strobe_instance/prev_countbase_5" BEL
        "mk_strobe_instance/prev_countbase_4" BEL
        "mk_strobe_instance/prev_countbase_3" BEL
        "mk_strobe_instance/prev_countbase_2" BEL
        "mk_strobe_instance/prev_countbase_1" BEL
        "mk_strobe_instance/prev_countbase_0" BEL
        "mk_strobe_instance/flag_start_single_strobe" BEL
        "fpga_spi_instance/cnt_spi_4" BEL "fpga_spi_instance/cnt_spi_3" BEL
        "fpga_spi_instance/cnt_spi_2" BEL "fpga_spi_instance/cnt_spi_1" BEL
        "fpga_spi_instance/cnt_spi_0" BEL "fpga_spi_instance/cnt_shift_data_4"
        BEL "fpga_spi_instance/cnt_shift_data_3" BEL
        "fpga_spi_instance/cnt_shift_data_2" BEL
        "fpga_spi_instance/cnt_shift_data_1" BEL
        "fpga_spi_instance/cnt_shift_data_0" BEL
        "fpga_spi_instance/fpga_clk_rise_edge_instance/d_i_ff3" BEL
        "fpga_spi_instance/fpga_cs_rise_edge_instance/d_i_ff3" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_15" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_14" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_13" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_12" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_11" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_10" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_9" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_8" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_7" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_6" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_5" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_4" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_3" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_2" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_1" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_0" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_15" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_14" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_13" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_12" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_11" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_10" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_9" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_8" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_7" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_6" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_5" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_4" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_3" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_2" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_1" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_0" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_15" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_14" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_13" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_12" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_11" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_10" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_9" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_8" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_7" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_6" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_5" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_4" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_3" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_2" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_1" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_0" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_15" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_14" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_13" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_12" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_11" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_10" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_9" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_8" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_7" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_6" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_5" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_4" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_3" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_2" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_1" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_0" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_15" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_14" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_13" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_12" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_11" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_10" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_9" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_8" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_7" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_6" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_5" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_4" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_3" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_2" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_1" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_0" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_15" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_14" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_13" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_12" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_11" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_10" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_9" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_8" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_7" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_6" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_5" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_4" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_3" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_2" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_1" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_0" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_15" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_14" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_13" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_12" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_11" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_10" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_9" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_8" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_7" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_6" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_5" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_4" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_3" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_2" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_1" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_0" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_15" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_14" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_13" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_12" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_11" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_10" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_9" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_8" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_7" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_6" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_5" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_4" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_3" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_2" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_1" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_0" BEL "fpga_spi_instance/wr_or_rd"
        BEL "fpga_spi_instance/fpga_addr_7" BEL
        "fpga_spi_instance/fpga_addr_6" BEL "fpga_spi_instance/fpga_addr_5"
        BEL "fpga_spi_instance/fpga_addr_4" BEL
        "fpga_spi_instance/fpga_addr_3" BEL "fpga_spi_instance/fpga_addr_2"
        BEL "fpga_spi_instance/fpga_miso" BEL
        "fpga_spi_instance/transmit_data_16" BEL
        "fpga_spi_instance/transmit_data_15" BEL
        "fpga_spi_instance/transmit_data_14" BEL
        "fpga_spi_instance/transmit_data_13" BEL
        "fpga_spi_instance/transmit_data_12" BEL
        "fpga_spi_instance/transmit_data_11" BEL
        "fpga_spi_instance/transmit_data_10" BEL
        "fpga_spi_instance/transmit_data_9" BEL
        "fpga_spi_instance/transmit_data_8" BEL
        "fpga_spi_instance/transmit_data_7" BEL
        "fpga_spi_instance/transmit_data_6" BEL
        "fpga_spi_instance/transmit_data_5" BEL
        "fpga_spi_instance/transmit_data_4" BEL
        "fpga_spi_instance/transmit_data_3" BEL
        "fpga_spi_instance/transmit_data_2" BEL
        "fpga_spi_instance/transmit_data_1" BEL "fpga_spi_instance/Rx_Done"
        BEL "fpga_spi_instance/receive_data_23" BEL
        "fpga_spi_instance/receive_data_22" BEL
        "fpga_spi_instance/receive_data_21" BEL
        "fpga_spi_instance/receive_data_20" BEL
        "fpga_spi_instance/receive_data_19" BEL
        "fpga_spi_instance/receive_data_15" BEL
        "fpga_spi_instance/receive_data_14" BEL
        "fpga_spi_instance/receive_data_13" BEL
        "fpga_spi_instance/receive_data_12" BEL
        "fpga_spi_instance/receive_data_11" BEL
        "fpga_spi_instance/receive_data_10" BEL
        "fpga_spi_instance/receive_data_9" BEL
        "fpga_spi_instance/receive_data_8" BEL
        "fpga_spi_instance/receive_data_7" BEL
        "fpga_spi_instance/receive_data_6" BEL
        "fpga_spi_instance/receive_data_5" BEL
        "fpga_spi_instance/receive_data_4" BEL
        "fpga_spi_instance/receive_data_3" BEL
        "fpga_spi_instance/receive_data_2" BEL
        "fpga_spi_instance/receive_data_1" BEL
        "fpga_spi_instance/receive_data_0" BEL
        "fpga_spi_instance/fpga_clk_rise_edge_instance/Mshreg_d_i_ff2/SRL16E"
        BEL "fpga_spi_instance/fpga_clk_rise_edge_instance/d_i_ff2" BEL
        "fpga_spi_instance/fpga_cs_rise_edge_instance/Mshreg_d_i_ff2/SRL16E"
        BEL "fpga_spi_instance/fpga_cs_rise_edge_instance/d_i_ff2" BEL
        "fpga_spi_instance/Mshreg_receive_data_18" BEL
        "fpga_spi_instance/receive_data_18" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_WCNT_HCMP_Q" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_WCNT_LCMP_Q" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_SCNT_CMP_Q" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_INTCAP_F.U_CAPWE0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_INTCAP_F.U_CAPWE1"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_TRIG0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_TRIG1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS0/I_NOLUT6.I_SRL_T2.I_YES_RPM.I_YES_OREG.OUT_REG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS1/I_NOLUT6.I_SRL_T2.I_YES_RPM.I_YES_OREG.OUT_REG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_CDONE/I_NOLUT6.I_SRL_T2.I_YES_RPM.I_YES_OREG.OUT_REG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[8].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[7].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[6].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[5].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[4].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[3].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[2].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[1].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[0].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[8].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[7].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[6].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[5].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[4].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[3].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[2].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[1].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[0].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[8].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[8].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[7].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[7].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[6].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[6].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[5].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[5].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[4].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[4].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[3].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[3].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[2].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[2].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[1].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[1].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[0].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[0].U_iCAP_ADDR"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL2" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL3" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_CR" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[8].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[7].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[6].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[5].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[4].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[3].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[2].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[1].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[0].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STATE1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STATE0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_ARM" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_TRIGGER" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_FULL" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_ECR" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_RISING" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_GEN_DELAY[1].U_FD" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_RFDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_DOUT" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_DOUT1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_DOUT0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[1].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[2].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[3].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[4].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[5].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[6].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[7].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[8].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[9].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[10].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[11].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[12].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[13].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[14].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[15].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/FINAL_FDR"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_POR" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[0].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[1].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[2].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[3].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[4].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[5].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[6].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[7].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_GEN_DELAY[2].U_FD"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_GEN_DELAY[1].U_FD"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_RFDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[4].U_FD" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[3].U_FD" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[2].U_FD" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[1].U_FD" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_RFDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[0].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[1].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[2].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[3].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[4].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[5].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[6].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[7].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[8].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[9].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[10].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[11].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[12].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[13].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[14].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[15].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[0].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[1].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[2].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[3].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[4].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[5].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[6].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[7].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[8].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[9].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[10].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[11].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[12].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[13].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[14].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[15].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_TW_GTE4.F_TW[3].I_YES_RPM.I_OREG.U_OREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[0].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[1].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[2].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[3].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[4].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[5].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[6].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[7].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[8].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[9].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[10].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[11].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[12].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[13].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[14].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[15].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[0].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[1].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[2].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[3].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[4].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[5].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[6].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[7].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[8].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[9].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[10].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[11].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[12].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[13].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[14].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[15].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_OREG.I_YES_OREG.U_OREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/I_MC_NO.U_NO_MC_REG"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_CAP_DLY"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_STORAGE_QUAL/I_SRLT_NE_1.I_NMU_1_TO_4.U_TCL/I_OUTREG.U_DOUT"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_STORAGE_QUAL/I_SRLT_NE_1.I_NMU_1_TO_4.U_TRIGQ"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_NEQ2.U_TC_EQUATION/I_SRLT_NE_1.I_NMU_1_TO_4.U_TCL/I_OUTREG.U_DOUT"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_NEQ2.U_TC_EQUATION/I_SRLT_NE_1.I_NMU_1_TO_4.U_TRIGQ"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/F_NO_TCMC.U_FDR" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[15].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[14].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[13].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[12].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[11].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[10].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[9].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[8].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[7].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[6].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[5].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[4].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[3].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[2].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[1].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[0].U_TQ" PIN
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[0].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i_pins<24>";
TIMEGRP clk_wizard_instance_CLKFX_BUF = BEL
        "mk_strobe_instance/cnt_mk_strobe_15" BEL
        "mk_strobe_instance/cnt_mk_strobe_14" BEL
        "mk_strobe_instance/cnt_mk_strobe_13" BEL
        "mk_strobe_instance/cnt_mk_strobe_12" BEL
        "mk_strobe_instance/cnt_mk_strobe_11" BEL
        "mk_strobe_instance/cnt_mk_strobe_10" BEL
        "mk_strobe_instance/cnt_mk_strobe_9" BEL
        "mk_strobe_instance/cnt_mk_strobe_8" BEL
        "mk_strobe_instance/cnt_mk_strobe_7" BEL
        "mk_strobe_instance/cnt_mk_strobe_6" BEL
        "mk_strobe_instance/cnt_mk_strobe_5" BEL
        "mk_strobe_instance/cnt_mk_strobe_4" BEL
        "mk_strobe_instance/cnt_mk_strobe_3" BEL
        "mk_strobe_instance/cnt_mk_strobe_2" BEL
        "mk_strobe_instance/cnt_mk_strobe_1" BEL
        "mk_strobe_instance/cnt_mk_strobe_0" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_27" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_26" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_25" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_24" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_23" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_22" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_21" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_20" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_19" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_18" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_17" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_16" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_15" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_14" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_13" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_12" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_11" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_10" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_9" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_8" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_7" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_6" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_5" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_4" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_3" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_2" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_1" BEL
        "mk_strobe_instance/r_cnt_cont_strobe_0" BEL
        "mk_strobe_instance/cnt_mk_2MHz_5" BEL
        "mk_strobe_instance/cnt_mk_2MHz_4" BEL
        "mk_strobe_instance/cnt_mk_2MHz_3" BEL
        "mk_strobe_instance/cnt_mk_2MHz_2" BEL
        "mk_strobe_instance/cnt_mk_2MHz_1" BEL
        "mk_strobe_instance/cnt_mk_2MHz_0" BEL
        "mk_strobe_instance/cont_strobe" BEL
        "mk_strobe_instance/flag_end_single_strobe" BEL
        "mk_strobe_instance/single_strobe" BEL
        "mk_strobe_instance/prev_strbcount_15" BEL
        "mk_strobe_instance/prev_strbcount_14" BEL
        "mk_strobe_instance/prev_strbcount_13" BEL
        "mk_strobe_instance/prev_strbcount_12" BEL
        "mk_strobe_instance/prev_strbcount_11" BEL
        "mk_strobe_instance/prev_strbcount_10" BEL
        "mk_strobe_instance/prev_strbcount_9" BEL
        "mk_strobe_instance/prev_strbcount_8" BEL
        "mk_strobe_instance/prev_strbcount_7" BEL
        "mk_strobe_instance/prev_strbcount_6" BEL
        "mk_strobe_instance/prev_strbcount_5" BEL
        "mk_strobe_instance/prev_strbcount_4" BEL
        "mk_strobe_instance/prev_strbcount_3" BEL
        "mk_strobe_instance/prev_strbcount_2" BEL
        "mk_strobe_instance/prev_strbcount_1" BEL
        "mk_strobe_instance/prev_strbcount_0" BEL
        "mk_strobe_instance/prev_countbase_15" BEL
        "mk_strobe_instance/prev_countbase_14" BEL
        "mk_strobe_instance/prev_countbase_13" BEL
        "mk_strobe_instance/prev_countbase_12" BEL
        "mk_strobe_instance/prev_countbase_11" BEL
        "mk_strobe_instance/prev_countbase_10" BEL
        "mk_strobe_instance/prev_countbase_9" BEL
        "mk_strobe_instance/prev_countbase_8" BEL
        "mk_strobe_instance/prev_countbase_7" BEL
        "mk_strobe_instance/prev_countbase_6" BEL
        "mk_strobe_instance/prev_countbase_5" BEL
        "mk_strobe_instance/prev_countbase_4" BEL
        "mk_strobe_instance/prev_countbase_3" BEL
        "mk_strobe_instance/prev_countbase_2" BEL
        "mk_strobe_instance/prev_countbase_1" BEL
        "mk_strobe_instance/prev_countbase_0" BEL
        "mk_strobe_instance/flag_start_single_strobe" BEL
        "fpga_spi_instance/cnt_spi_4" BEL "fpga_spi_instance/cnt_spi_3" BEL
        "fpga_spi_instance/cnt_spi_2" BEL "fpga_spi_instance/cnt_spi_1" BEL
        "fpga_spi_instance/cnt_spi_0" BEL "fpga_spi_instance/cnt_shift_data_4"
        BEL "fpga_spi_instance/cnt_shift_data_3" BEL
        "fpga_spi_instance/cnt_shift_data_2" BEL
        "fpga_spi_instance/cnt_shift_data_1" BEL
        "fpga_spi_instance/cnt_shift_data_0" BEL
        "fpga_spi_instance/fpga_clk_rise_edge_instance/d_i_ff3" BEL
        "fpga_spi_instance/fpga_cs_rise_edge_instance/d_i_ff3" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_15" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_14" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_13" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_12" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_11" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_10" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_9" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_8" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_7" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_6" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_5" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_4" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_3" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_2" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_1" BEL
        "fpga_spi_instance/FPGA_MAXSATVALUE_0" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_15" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_14" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_13" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_12" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_11" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_10" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_9" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_8" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_7" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_6" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_5" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_4" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_3" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_2" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_1" BEL
        "fpga_spi_instance/FPGA_OFFSETVALUE_0" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_15" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_14" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_13" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_12" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_11" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_10" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_9" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_8" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_7" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_6" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_5" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_4" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_3" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_2" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_1" BEL
        "fpga_spi_instance/FPGA_SSHIGHDELAY_0" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_15" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_14" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_13" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_12" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_11" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_10" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_9" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_8" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_7" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_6" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_5" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_4" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_3" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_2" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_1" BEL
        "fpga_spi_instance/FPGA_SSLOWDELAY_0" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_15" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_14" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_13" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_12" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_11" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_10" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_9" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_8" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_7" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_6" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_5" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_4" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_3" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_2" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_1" BEL
        "fpga_spi_instance/FPGA_LAMPENABLE_0" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_15" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_14" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_13" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_12" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_11" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_10" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_9" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_8" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_7" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_6" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_5" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_4" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_3" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_2" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_1" BEL
        "fpga_spi_instance/FPGA_STRBCOUNT_0" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_15" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_14" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_13" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_12" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_11" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_10" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_9" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_8" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_7" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_6" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_5" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_4" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_3" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_2" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_1" BEL
        "fpga_spi_instance/FPGA_COUNTBASE_0" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_15" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_14" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_13" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_12" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_11" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_10" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_9" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_8" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_7" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_6" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_5" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_4" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_3" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_2" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_1" BEL
        "fpga_spi_instance/FPGA_INTCLOCK_0" BEL "fpga_spi_instance/wr_or_rd"
        BEL "fpga_spi_instance/fpga_addr_7" BEL
        "fpga_spi_instance/fpga_addr_6" BEL "fpga_spi_instance/fpga_addr_5"
        BEL "fpga_spi_instance/fpga_addr_4" BEL
        "fpga_spi_instance/fpga_addr_3" BEL "fpga_spi_instance/fpga_addr_2"
        BEL "fpga_spi_instance/fpga_miso" BEL
        "fpga_spi_instance/transmit_data_16" BEL
        "fpga_spi_instance/transmit_data_15" BEL
        "fpga_spi_instance/transmit_data_14" BEL
        "fpga_spi_instance/transmit_data_13" BEL
        "fpga_spi_instance/transmit_data_12" BEL
        "fpga_spi_instance/transmit_data_11" BEL
        "fpga_spi_instance/transmit_data_10" BEL
        "fpga_spi_instance/transmit_data_9" BEL
        "fpga_spi_instance/transmit_data_8" BEL
        "fpga_spi_instance/transmit_data_7" BEL
        "fpga_spi_instance/transmit_data_6" BEL
        "fpga_spi_instance/transmit_data_5" BEL
        "fpga_spi_instance/transmit_data_4" BEL
        "fpga_spi_instance/transmit_data_3" BEL
        "fpga_spi_instance/transmit_data_2" BEL
        "fpga_spi_instance/transmit_data_1" BEL "fpga_spi_instance/Rx_Done"
        BEL "fpga_spi_instance/receive_data_23" BEL
        "fpga_spi_instance/receive_data_22" BEL
        "fpga_spi_instance/receive_data_21" BEL
        "fpga_spi_instance/receive_data_20" BEL
        "fpga_spi_instance/receive_data_19" BEL
        "fpga_spi_instance/receive_data_15" BEL
        "fpga_spi_instance/receive_data_14" BEL
        "fpga_spi_instance/receive_data_13" BEL
        "fpga_spi_instance/receive_data_12" BEL
        "fpga_spi_instance/receive_data_11" BEL
        "fpga_spi_instance/receive_data_10" BEL
        "fpga_spi_instance/receive_data_9" BEL
        "fpga_spi_instance/receive_data_8" BEL
        "fpga_spi_instance/receive_data_7" BEL
        "fpga_spi_instance/receive_data_6" BEL
        "fpga_spi_instance/receive_data_5" BEL
        "fpga_spi_instance/receive_data_4" BEL
        "fpga_spi_instance/receive_data_3" BEL
        "fpga_spi_instance/receive_data_2" BEL
        "fpga_spi_instance/receive_data_1" BEL
        "fpga_spi_instance/receive_data_0" BEL
        "fpga_spi_instance/fpga_clk_rise_edge_instance/Mshreg_d_i_ff2/SRL16E"
        BEL "fpga_spi_instance/fpga_clk_rise_edge_instance/d_i_ff2" BEL
        "fpga_spi_instance/fpga_cs_rise_edge_instance/Mshreg_d_i_ff2/SRL16E"
        BEL "fpga_spi_instance/fpga_cs_rise_edge_instance/d_i_ff2" BEL
        "fpga_spi_instance/Mshreg_receive_data_18" BEL
        "fpga_spi_instance/receive_data_18" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_WCNT_HCMP_Q" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_WCNT_LCMP_Q" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_SCNT_CMP_Q" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_INTCAP_F.U_CAPWE0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_INTCAP_F.U_CAPWE1"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_TRIG0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_TRIG1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS0/I_NOLUT6.I_SRL_T2.I_YES_RPM.I_YES_OREG.OUT_REG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_NS1/I_NOLUT6.I_SRL_T2.I_YES_RPM.I_YES_OREG.OUT_REG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/I_SRLT_NE_1.U_CDONE/I_NOLUT6.I_SRL_T2.I_YES_RPM.I_YES_OREG.OUT_REG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[8].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[7].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[6].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[5].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[4].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[3].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[2].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[1].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_NO_TSEQ.I_SRLT_NE_1.U_SCNT/G[0].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[8].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[7].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[6].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[5].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[4].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[3].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[2].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[1].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_SRLT_NE_1.U_WCNT/G[0].U_FDRE"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[8].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[8].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[7].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[7].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[6].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[6].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[5].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[5].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[4].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[4].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[3].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[3].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[2].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[2].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[1].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[1].U_iCAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[0].U_CAP_ADDR"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_G2_SQ.U_CAPCTRL/U_CAP_ADDRGEN/I_INTCAP.F_CAP_ADDR[0].U_iCAP_ADDR"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL2" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL3" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_CR" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[8].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[7].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[6].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[5].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[4].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[3].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[2].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[1].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/G_NS[0].U_NSQ" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STATE1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_STATE0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_ARM" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_TRIGGER" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_FULL" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_ECR" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_RISING" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_GEN_DELAY[1].U_FD" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_RFDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_DOUT" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_DOUT1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DSL1/U_DOUT0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[1].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[2].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[3].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[4].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[5].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[6].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[7].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[8].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[9].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[10].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[11].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[12].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[13].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[14].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/U_STATES[15].U_SRL.U_FDR0"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_EQ1.I_TSEQ_SIMPLE/FINAL_FDR"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_POR" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[0].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[1].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[2].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[3].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[4].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[5].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[6].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/G_RST[7].U_RST" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_GEN_DELAY[2].U_FD"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_GEN_DELAY[1].U_FD"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_RFDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_HALT_XFER/U_DOUT0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[4].U_FD" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[3].U_FD" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[2].U_FD" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_GEN_DELAY[1].U_FD" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_RFDRE" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT1" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_RST/U_ARM_XFER/U_DOUT0" BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[0].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[1].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[2].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[3].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[4].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[5].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[6].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[7].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[8].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[9].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[10].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[11].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[12].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[13].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[14].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_YES_IREG.F_TW[15].U_IREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[0].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[1].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[2].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[3].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[4].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[5].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[6].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[7].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[8].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[9].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[10].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[11].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[12].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[13].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[14].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/F_TW[15].U_TREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_MUT_GANDX.U_match/I_SRL16.U_GANDX_SRL16/I_TW_GTE4.F_TW[3].I_YES_RPM.I_OREG.U_OREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[0].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[1].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[2].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[3].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[4].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[5].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[6].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[7].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[8].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[9].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[10].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[11].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[12].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[13].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[14].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[15].I_SRLT_NE_0.FF"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[0].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[1].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[2].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[3].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[4].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[5].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[6].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[7].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[8].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[9].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[10].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[11].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[12].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[13].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[14].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/I_DQ.U_DQQ/DLY_9.DLY_9_GEN[15].I_SRLT_NE_0.DLY9/SRL16E"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/U_MU/I_OREG.I_YES_OREG.U_OREG"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TM/G_NMU[0].U_M/I_MC_NO.U_NO_MC_REG"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_CAP_DLY"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_STORAGE_QUAL/I_SRLT_NE_1.I_NMU_1_TO_4.U_TCL/I_OUTREG.U_DOUT"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_STORAGE_QUAL.U_STORAGE_QUAL/I_SRLT_NE_1.I_NMU_1_TO_4.U_TRIGQ"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_NEQ2.U_TC_EQUATION/I_SRLT_NE_1.I_NMU_1_TO_4.U_TCL/I_OUTREG.U_DOUT"
        BEL
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/U_TC/I_TSEQ_NEQ2.U_TC_EQUATION/I_SRLT_NE_1.I_NMU_1_TO_4.U_TRIGQ"
        BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_TRIG/F_NO_TCMC.U_FDR" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[15].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[14].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[13].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[12].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[11].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[10].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[9].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[8].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[7].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[6].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[5].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[4].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[3].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[2].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[1].U_TQ" BEL
        "U_ila_pro_0/U0/I_TQ0.G_TW[0].U_TQ" BEL
        "clk_wizard_instance/CLKFX_BUFG_INST.GCLKMUX" BEL
        "clk_wizard_instance/CLKFX_BUFG_INST" PIN
        "U_ila_pro_0/U0/I_NO_D.U_ILA/U_CAPSTOR/I_CASE1.I_NO_TB.I_RT1.U_RAM/G_BRAM[0].U_BRAM/ram_rt1_s1_s32_if.ram_rt1_s1_s32_i_pins<24>";
TIMEGRP U_CLK = BEL "U_icon_pro/U0/U_ICON/U_iDATA_CMD";
TIMEGRP D2_CLK = BEL "U_ila_pro_0/U0/I_NO_D.U_ILA/U_STAT/U_DIRTY_LDC";
PIN clk_wizard_instance/DCM_SP_INST_pins<3> = BEL
        "clk_wizard_instance/DCM_SP_INST" PINNAME CLKIN;
TIMEGRP sys_clk = PIN "clk_wizard_instance/DCM_SP_INST_pins<3>";
TIMEGRP "FFS" = FFS(*);
PATH TS_D2_TO_T2_ila_pro_0_path = FROM TIMEGRP "D2_CLK" TO TIMEGRP "FFS";
PATH "TS_D2_TO_T2_ila_pro_0_path" TIG;
PATH TS_J2_TO_D2_ila_pro_0_path = FROM TIMEGRP "FFS" TO TIMEGRP "D2_CLK";
PATH "TS_J2_TO_D2_ila_pro_0_path" TIG;
PATH TS_J3_TO_D2_ila_pro_0_path = FROM TIMEGRP "FFS" TO TIMEGRP "D2_CLK";
PATH "TS_J3_TO_D2_ila_pro_0_path" TIG;
PATH TS_J4_TO_D2_ila_pro_0_path = FROM TIMEGRP "FFS" TO TIMEGRP "D2_CLK";
PATH "TS_J4_TO_D2_ila_pro_0_path" TIG;
TS_U_TO_U = MAXDELAY FROM TIMEGRP "U_CLK" TO TIMEGRP "U_CLK" 15 ns;
TS_sys_clk = PERIOD TIMEGRP "sys_clk" 83.333 ns HIGH 50%;
TS_clk_wizard_instance_CLK2X_BUF = PERIOD TIMEGRP
        "clk_wizard_instance_CLK2X_BUF" TS_sys_clk / 2 HIGH 50%;
TS_clk_wizard_instance_CLKFX_BUF = PERIOD TIMEGRP
        "clk_wizard_instance_CLKFX_BUF" TS_sys_clk / 4 HIGH 50%;
PIN
        U_icon_pro/U0/U_ICON/I_YES_BSCAN.U_BS/I_SPARTAN3.ISYN.I_USE_SOFTBSCAN_EQ0.I_3A.U_BS_pins<2>
        = BEL
        "U_icon_pro/U0/U_ICON/I_YES_BSCAN.U_BS/I_SPARTAN3.ISYN.I_USE_SOFTBSCAN_EQ0.I_3A.U_BS"
        PINNAME SHIFT;
PIN
        "U_icon_pro/U0/U_ICON/I_YES_BSCAN.U_BS/I_SPARTAN3.ISYN.I_USE_SOFTBSCAN_EQ0.I_3A.U_BS_pins<2>"
        TIG;
SCHEMATIC END;

