#Define system clock 12MHz
NET "sys_clk" LOC = P43 | IOSTANDARD = "LVCMOS33";
NET "sys_clk" TNM_NET = sys_clk;
TIMESPEC TS_sys_clk = PERIOD "sys_clk" 83.333000 ns HIGH 50%;
NET "sys_clk" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "clk_wizard_instance/DCM_SP_INST.CLKIN" CLOCK_DEDICATED_ROUTE = FALSE;

#Define constraints for MCU interfaces 
NET "xreset" LOC = P19 | IOSTANDARD = "LVCMOS33";
NET "xreset" CLOCK_DEDICATED_ROUTE = FALSE;

NET "fifo_rset" LOC = P16 | IOSTANDARD = "LVCMOS33";
NET "trigger" LOC = P6 | IOSTANDARD = "LVCMOS33";
NET "pixel_ready" LOC = P15 | IOSTANDARD = "LVCMOS33";
NET "single_strobe" LOC = P4 | IOSTANDARD = "LVCMOS33";

NET "spi_clk" LOC = P10 | IOSTANDARD = "LVCMOS33";
NET "spi_mosi" LOC = P12 | IOSTANDARD = "LVCMOS33";
NET "spi_miso" LOC = P13 | IOSTANDARD = "LVCMOS33";

NET "fpga_cs" LOC = P9 | IOSTANDARD = "LVCMOS33";
NET "fifo_cs" LOC = P20 | IOSTANDARD = "LVCMOS33";
NET "e2_cs" LOC = P40 | IOSTANDARD = "LVCMOS33";
NET "adt_cs" LOC = P35 | IOSTANDARD = "LVCMOS33";

NET "adt7301_clk" LOC = P33 | IOSTANDARD = "LVCMOS33";
NET "adt7301_cs" LOC = P34 | IOSTANDARD = "LVCMOS33";
//NET "adt7301_miso" LOC = P13 | IOSTANDARD = "LVCMOS33";

#Define constraints for EEPROM interfaces
NET "eeprom_clk" LOC = P36 | IOSTANDARD = "LVCMOS33";
NET "eeprom_cs" LOC = P37 | IOSTANDARD = "LVCMOS33";

#Define constraints for CCD sensor interfaces 
NET "ilx511b_clk" LOC = P32 | IOSTANDARD = "LVCMOS33";
NET "ilx511b_rog" LOC = P31 | IOSTANDARD = "LVCMOS33";
NET "ilx511b_shsw" LOC = P30 | IOSTANDARD = "LVCMOS33";

#Define constraints for ADC7621 interfaces 
NET "ad7621_busy" LOC = P83 | IOSTANDARD = "LVCMOS33";
NET "ad7621_convst" LOC = P78 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<0>" LOC = P73 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<1>" LOC = P72 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<2>" LOC = P71 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<3>" LOC = P70 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<4>" LOC = P65 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<5>" LOC = P64 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<6>" LOC = P62 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<7>" LOC = P61 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<8>" LOC = P60 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<9>" LOC = P59 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<10>" LOC = P57 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<11>" LOC = P56 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<12>" LOC = P52 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<13>" LOC = P50 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<14>" LOC = P49 | IOSTANDARD = "LVCMOS33";
NET "ad7621_di<15>" LOC = P46 | IOSTANDARD = "LVCMOS33";
